/*

!/.config/
/.config/*
!/.config/cava/
!/.config/dunst/
!/.config/fastfetch/
!/.config/fcitx5/
!/.config/hypr/
!/.config/kitty/
!/.config/nvim/
!/.config/ranger/
!/.config/rofi/
!/.config/swaylock/
!/.config/waybar/

!/.local/
/.local/*
!/.local/share
/.local/share/*
!/.local/share/fcitx5
!/.local/share/fcitx5/*
/.local/share/fcitx5/rime/*
!/.local/share/fcitx5/rime/default.custom.yaml
!/.local/share/fcitx5/rime/rime_ice.custom.yaml

!/.oh-my-zsh/

!/.gitignore
!/.gitmodules
!/.zshrc
